<th:block th:fragment="leftNavBar">
    <div class="d-flex flex-column flex-shrink-0 p-2-rem text-white sideNavBarHP">
        <div class="browseField">
            <div id="browse-txt">
                <p>Browse</p>
            </div>

            <div class="item-field" onclick="redirectToHomePage()">
                <p id="home-txt" >Home</p>
            </div>

        </div>
        <div class="yourBooksField">
            <div id="your-books-txt">
                <p>Your Books</p>
            </div>
            <div class="item-field" onclick="redirectToMyLibrary()">
                <p>My Library</p>
            </div>
            <div class="item-field">
                <p>Saved</p>
            </div>
            <div class="item-field">
                <p>More</p>
            </div>
        </div>
    </div>
</th:block>