<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--        Top NAV-->
<th:block th:include="thInclude/topNavBar"></th:block>

<!--    // CENTER-->
<div class="contentDiv accountOverview-center-div">
    <div id="accountOverview-center-field">
        <div id="account-dashboard">

            <div id="account-image-field">
                <div id="account-image-settings">
                    <div id="settings-field">
<!--                        <img th:src="" th:alt="">-->
                    </div>
                    <div id="account-image">
                        <img id="profile-pic" src="/pictures/bubble-gum-avatar-icon.png" alt="avatar">
                    </div>

                </div>
            </div>

            <div id="account-bio-field">
                <div id="account-bio-txt">
                    <p class="margin-top-a margin-bot-a" th:text="${allUsers[0].getFirst_name()} + ' ' + ${allUsers[0].getLast_name()}"></p>
                </div>
            </div>

            <div id="account-stats-field">
                <div id="total-number-books">
<!--                    <img src="" alt="">-->
                </div>
                <div id="total-number-friends">
<!--                    <img src="" alt="">-->
                </div>
                <div id="total-number-likes">
<!--                    <img src="" alt="">-->
                </div>
            </div>
        </div>
        <div id="account-details">

        </div>
    </div>
</div>

<!--SIDE NAV left-->
<th:block th:include="thInclude/leftNavBar"></th:block>

<!--SIDE NAV right YOUR FRIENDS -->
<th:block th:include="thInclude/friendBar"></th:block>

<script src="/./js/js.js"></script>
</body>
</html>
