<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to Bootstrap CSS (CDN or local) -->
<!--    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Personal project</title>

</head>
<body>
    <button id="openModal">Open Modal</button>
    <div class = "modal-ex333" id="modal-ex333">
        <div class="modal-inner" id="modal-inner">
            <h2> Cool tutorial!</h2>
            <div>

            </div>
            <h2> Cool tutorial!</h2>
            <button id="closeModal">Close</button>
        </div>
    </div>

<!--        Top NAV-->
    <th:block th:insert="~{thInclude/topNavBar}"></th:block>

<!--    // CENTER-->
<div class="float-right contentDiv display-block">

    <div class="rAdded">
        <p class="rAddedtxt">Recently added</p>
    </div>
    <div class="rAddedField" th:each="book, iterStat : ${allBooks}">

        <div class="book-contents">

            <div class="image-holder">
                <div class="middle">
                    <div class="hover-button">
                        <img class="image" src="/pictures/icons8-view-48.png">
                    </div>
                    <div class="hover-button">
                        <img class="image" src="/pictures/icons8-star-48.png">
                    </div>
                </div>
                <img class="h-inherit" th:src="${book.getCover_url()}" th:alt="${book.getTitle()} + 's image'">
            </div>

            <div class="info-holder">
                <div class="title-holder">
                    <p th:text="${book.getTitle()}"></p>
                </div>

                <div class="author-txt">
                    <div class="highlight"></div>
                    <span th:text="${book.getAuthor().getPseudonym()}"></span>
                </div>

            </div>
            <div>

            </div>
        </div>


    </div>

    <div class="rForYou">
        <p class="rForYoutxt">Recommended for you</p>
    </div>
    <div class="rForYouField">

    </div>

</div>

    <!--SIDE NAV left-->
    <th:block th:insert="~{thInclude/leftNavBar}"></th:block>

    <!--SIDE NAV right YOUR FRIENDS -->
    <th:block th:insert="~{thInclude/friendBar}"></th:block>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
<script src="/./js/js.js"></script>

</body>
</html>