<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Please Log In</title>
</head>
<body class="loginBody">
    <div class="login-container">
        <h1>Please Log In</h1>
        <div th:if="${param.error}">
            Invalid username and password.</div>
        <div th:if="${param.logout}">
            You have been logged out.</div>
        <form th:action="@{/login}" method="post">
            <div>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <div class="rememberMe-container">
                <p id="rememberMe-txt">Remember Me:</p>
                <input type="checkbox" class="w-30px" name="remember-me" />
            </div>

            <input class="loginButton" type="submit" value="Log in" />
        </form>
    </div>
</body>
</html>